
.container-fluid {
  width: 970px !important;
}

.login-container {
	margin-top: 100px;
}

.login-field {
	background-color: #fff; 
	padding: 20px;
}

.login-icon {
	left: inherit;
	position: relative;
	top: inherit;
	width: 96px;
	margin-top: 40px;
	margin-left: 20px;
}

.logo {
	font-size: 100px;
}
